* text=auto !eol
/.cproject -text
/.oppbuildspec -text
/.project -text
.settings/org.eclipse.cdt.codan.core.prefs -text
.settings/org.eclipse.ltk.core.refactoring.prefs -text
/Makefile -text
/browser_cfg.xml -text
/controller_cfg.xml -text
model/browser_cfg.xml -text
model/controller_cfg.xml -text
model/demo.sitedef -text
model/demo1.sitedef -text
model/demo2.sitedef -text
model/demo3.sitedef -text
model/demo4.sitedef -text
model/general.ini -text
model/host1.ini -text
model/host1.script -text
model/multiradio.ini -text
model/multiradio/README -text
model/multiradio/host1.irt -text
model/multiradio/host2.irt -text
model/multiradio/host2b.irt -text
model/multiradio/router.irt -text
model/nServers.ned -text
model/page001.pagedef -text
model/page002.pagedef -text
model/page003.pagedef -text
model/page004.pagedef -text
model/page005.pagedef -text
model/page006.pagedef -text
model/page007.pagedef -text
model/page008.pagedef -text
model/page009.pagedef -text
model/page010.pagedef -text
model/page011.pagedef -text
model/page012.pagedef -text
model/page013.pagedef -text
model/page014.pagedef -text
model/page015.pagedef -text
model/page016.pagedef -text
model/page017.pagedef -text
model/page018.pagedef -text
model/page019.pagedef -text
model/page020.pagedef -text
model/page021.pagedef -text
model/page022.pagedef -text
model/page023.pagedef -text
model/page024.pagedef -text
model/page025.pagedef -text
model/page026.pagedef -text
model/page027.pagedef -text
model/page028.pagedef -text
model/page029.pagedef -text
model/page030.pagedef -text
model/page031.pagedef -text
model/page032.pagedef -text
model/page033.pagedef -text
model/page034.pagedef -text
model/page035.pagedef -text
model/page036.pagedef -text
model/page037.pagedef -text
model/page038.pagedef -text
model/page039.pagedef -text
model/page040.pagedef -text
model/page041.pagedef -text
model/page042.pagedef -text
model/page043.pagedef -text
model/page044.pagedef -text
model/page045.pagedef -text
model/page046.pagedef -text
model/page047.pagedef -text
model/page048.pagedef -text
model/page049.pagedef -text
model/page050.pagedef -text
model/page051.pagedef -text
model/page052.pagedef -text
model/page053.pagedef -text
model/page054.pagedef -text
model/page055.pagedef -text
model/page056.pagedef -text
model/page057.pagedef -text
model/page058.pagedef -text
model/page059.pagedef -text
model/page060.pagedef -text
model/page061.pagedef -text
model/page062.pagedef -text
model/page063.pagedef -text
model/page064.pagedef -text
model/page065.pagedef -text
model/page066.pagedef -text
model/page067.pagedef -text
model/page068.pagedef -text
model/page069.pagedef -text
model/page070.pagedef -text
model/page071.pagedef -text
model/page072.pagedef -text
model/page073.pagedef -text
model/page074.pagedef -text
model/page075.pagedef -text
model/page076.pagedef -text
model/page077.pagedef -text
model/page078.pagedef -text
model/page079.pagedef -text
model/page080.pagedef -text
model/page081.pagedef -text
model/page082.pagedef -text
model/page083.pagedef -text
model/page084.pagedef -text
model/page085.pagedef -text
model/page086.pagedef -text
model/page087.pagedef -text
model/page088.pagedef -text
model/page089.pagedef -text
model/page090.pagedef -text
model/page091.pagedef -text
model/page092.pagedef -text
model/page093.pagedef -text
model/page094.pagedef -text
model/page095.pagedef -text
model/page096.pagedef -text
model/page097.pagedef -text
model/page098.pagedef -text
model/page099.pagedef -text
model/page100.pagedef -text
model/pipe_config.ini -text
model/run -text
model/script.ini -text
model/server_cfg.xml -text
model/simpleWeb.ned -text
model/simpleWebPPP.ned -text
model/simpleWebWireless.ned -text
/package.ned -text
pairsocket/.tkenvrc -text
pairsocket/bad-browse.script -text
pairsocket/browse.script -text
pairsocket/cmcc.script -text
pairsocket/cross-browse.script -text
pairsocket/google.script -text
pairsocket/music.script -text
pairsocket/nServers.ned -text
pairsocket/omnetpp.ini -text
pairsocket/run -text
pairsocket/script.ini -text
pairsocket/sina.script -text
pairsocket/spair.ned -text
/server_cfg.xml -text
sites/music_10086_cn/218_205_239_13.sitedef -text
sites/music_10086_cn/content_12530_com.sitedef -text
sites/music_10086_cn/mcontent_10086_cn.sitedef -text
sites/music_10086_cn/mdll_10086_cn.sitedef -text
sites/music_10086_cn/music_10086_cn.pagedef -text
sites/music_10086_cn/music_10086_cn.sitedef -text
sites/music_10086_cn/sdc_10086_cn.sitedef -text
sites/music_10086_cn/www_10086_cn.sitedef -text
sites/www_10086_com/a_tbcdn_cn.sitedef -text
sites/www_10086_com/acookie_taobao_com.sitedef -text
sites/www_10086_com/hm_baidu_com.sitedef -text
sites/www_10086_com/img03_taobaocdn_com.sitedef -text
sites/www_10086_com/img04_taobaocdn_com.sitedef -text
sites/www_10086_com/jipiao_trip_taobao_com.sitedef -text
sites/www_10086_com/www_10086_com.pagedef -text
sites/www_10086_com/www_10086_com.sitedef -text
sites/www_10086_com/www_taobao_com.sitedef -text
sites/www_10086_com/z_alimama_com.sitedef -text
sites/www_google_com_hk/ssl_gstatic_com.sitedef -text
sites/www_google_com_hk/www_google_com.sitedef -text
sites/www_google_com_hk/www_google_com_hk.pagedef -text
sites/www_google_com_hk/www_google_com_hk.sitedef -text
sites/www_sina_com_cn/44_adsina_allyes_com.sitedef -text
sites/www_sina_com_cn/beacon_sina_com_cn.sitedef -text
sites/www_sina_com_cn/bj_house_sina_com_cn.sitedef -text
sites/www_sina_com_cn/cache_mars_sina_com_cn.sitedef -text
sites/www_sina_com_cn/d1_sina_com_cn.sitedef -text
sites/www_sina_com_cn/d2_sina_com_cn.sitedef -text
sites/www_sina_com_cn/d3_sina_com_cn.sitedef -text
sites/www_sina_com_cn/d4_sina_com_cn.sitedef -text
sites/www_sina_com_cn/d5_sina_com_cn.sitedef -text
sites/www_sina_com_cn/data_house_sina_com_cn.sitedef -text
sites/www_sina_com_cn/hq_sinajs_cn.sitedef -text
sites/www_sina_com_cn/i0_sinaimg_cn.sitedef -text
sites/www_sina_com_cn/i1_sinaimg_cn.sitedef -text
sites/www_sina_com_cn/i2_sinaimg_cn.sitedef -text
sites/www_sina_com_cn/i3_sinaimg_cn.sitedef -text
sites/www_sina_com_cn/image_sinajs_cn.sitedef -text
sites/www_sina_com_cn/img02_taobaocdn_com.sitedef -text
sites/www_sina_com_cn/img04_taobaocdn_com.sitedef -text
sites/www_sina_com_cn/int_dpool_sina_com_cn.sitedef -text
sites/www_sina_com_cn/js_miaozhen_com.sitedef -text
sites/www_sina_com_cn/material_mediav_com.sitedef -text
sites/www_sina_com_cn/news_sina_com_cn.sitedef -text
sites/www_sina_com_cn/pfp_sina_com_cn.sitedef -text
sites/www_sina_com_cn/php_weather_sina_com_cn.sitedef -text
sites/www_sina_com_cn/secure-cn_imrworldwide_com.sitedef -text
sites/www_sina_com_cn/show_g_mediav_com.sitedef -text
sites/www_sina_com_cn/sina_wrating_com.sitedef -text
sites/www_sina_com_cn/static_mediav_com.sitedef -text
sites/www_sina_com_cn/t_gaoya_miaozhen_com.sitedef -text
sites/www_sina_com_cn/www_sina_com_cn.pagedef -text
sites/www_sina_com_cn/www_sina_com_cn.sitedef -text
src/Browser/PipeHttpBrowser.cc -text
src/Browser/PipeHttpBrowser.h -text
src/Browser/PipeHttpBrowser.ned -text
src/Browser/Strategy/PipeReqMode/CDFPipeReq.cc -text
src/Browser/Strategy/PipeReqMode/CDFPipeReq.h -text
src/Browser/Strategy/PipeReqMode/CFFPipeReq.cc -text
src/Browser/Strategy/PipeReqMode/CFFPipeReq.h -text
src/Browser/Strategy/PipeReqMode/CPipeReqBase.cc -text
src/Browser/Strategy/PipeReqMode/CPipeReqBase.h -text
src/Browser/Strategy/SvrSupportDetectMethod/CPCSvrSupportDetect.cc -text
src/Browser/Strategy/SvrSupportDetectMethod/CPCSvrSupportDetect.h -text
src/Browser/Strategy/SvrSupportDetectMethod/CPHSvrSupportDetect.cc -text
src/Browser/Strategy/SvrSupportDetectMethod/CPHSvrSupportDetect.h -text
src/Browser/Strategy/SvrSupportDetectMethod/CSvrSupportDetectBase.cc -text
src/Browser/Strategy/SvrSupportDetectMethod/CSvrSupportDetectBase.h -text
src/Browser/TypeDef.h -text
src/Server/PipeHttpServer.cc -text
src/Server/PipeHttpServer.h -text
src/Server/PipeHttpServer.ned -text
wired/10086.ini -text
wired/browser_cfg.xml -text
wired/cmcc.script -text
wired/controller_cfg.xml -text
wired/general.ini -text
wired/google.ini -text
wired/google.script -text
wired/music.ini -text
wired/music.script -text
wired/nServers.ned -text
wired/pipe_config.ini -text
wired/random.ini -text
wired/run -text
wired/script.ini -text
wired/server_cfg.xml -text
wired/sina.ini -text
wired/sina.script -text
wired/site_config.ini -text
